<h2>Добро пожаловать в Интернет магазин</h2>
<button type="button" class="btn btn-primary" onclick="hellow_user()">Отправить</button>

<script>
  function hellow_user() {
    alert('Hello, user');
  }
</script>